<!-- ABOUT US starts -->	
		<section id="aboutus">
			<div class="container">			
				<div class="heading text-center" >
					<img class="dividerline" src="/assets/sep.png" alt="">
					<h2><b>ABOUT US</b></h2>
					<img class="dividerline" src="/assets/sep.png" alt="">	
				</div>
				<div class="row">
					<div class="col-lg-4">
						<img src="/assets/img2.jpg" />
					</div>
					<div class="col-lg-8">
						<p>iClothing.ie is the trading name of ABJB Ltd. and is a 100% Irish owned. We are a young and vibrant company dedicated in providing the latest high street womens fashion for less.</p><br>
						<b>We are proud to bring you top quality clothing at affordable prices.</b><br><br>
						<b style="color:#CC580C">Great service with a smile.</b><br>
						<p><br>We are able to offer huge savings on top labels and brands by selling direct to you from our website. Our warehouse in Dublin stocks hundreds of products at any one time and we continue to add new items to our store every week.</p>
						<p>Watch out for our regular special offers and discounts in our clearence store.</p>
						<p>Our web site run on secure servers, offering our customers peace of mind when shopping with us.</p><br>
						<b style="color:#CC580C">Shipping and returns</b>
						<p><br>We deliver to the Republic of Ireland, United Kingdom and all other EU countries. Please see our Delivery Information page for more details. Orders placed before 15.00 Monday - Friday are dispatched same day. All items are delivered using An Post. We offer a standard delivery service (2-4 working days) and an express service (next business day).</p>
						<p>If you are unhappy with your order, you can return it to us by post or exchange it within 14 days of receipt.<p>
						<p>For detailed information, see our Customer Services page.</p>
						<b>To all of you, from all of us at the iclothing.ie - Thank you and Happy Shopping!</b>
					</div>
				</div>	
				<hr>
			</div>
		</section>
		<!-- ABOUT US Ends -->

