<!-- DRESSES  Starts -->
		
		<section>
			<div class="">
				<div class="container">
					<div class="heading text-center" style=" padding-top: 0px;" >
						<img class="dividerline" src="/assets/sep.png" alt="">
						<h2><b>LATEST COLLECTION</b></h2>
						<img class="dividerline" src="/assets/sep.png" alt="">	
					</div>
					<div class="row">
						<div class="col-lg-3">
							<blockquote>
								<img src="/assets/1.jpg" style="width: 200px !important;"/>
								<span class="text">Tayler Animal Print Tunic in<br>&euro;35.00</span>
							</blockquote>
						</div>
						<div class="col-lg-3">
							<blockquote><img src="/assets/2.jpg" style="width: 200px !important;"/></blockquote>
						</div>
						<div class="col-lg-3">
							<blockquote><img src="/assets/3.jpg" style="width: 200px !important;"/></blockquote>
						</div>
						<div class="col-lg-3">
							<blockquote><img src="/assets/2.jpg" style="width: 200px !important;"/></blockquote>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3">
							<blockquote><img src="/assets/1.jpg" style="width: 200px !important;"/></blockquote>
						</div>
						<div class="col-lg-3">
							<blockquote><img src="/assets/2.jpg" style="width: 200px !important;"/></blockquote>
						</div>
						<div class="col-lg-3">
							<blockquote><img src="/assets/3.jpg" style="width: 200px !important;"/></blockquote>
						</div>
						<div class="col-lg-3">
							<blockquote><img src="/assets/2.jpg" style="width: 200px !important;"/></blockquote>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</section>
		<!-- DRESSES  Ends  -->

